body {
    font-family: 'Rubik Wet Paint', cursive;
    color: #8b0000;
    margin:0;
    background-color: black;
}
h2{
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}

.gameIcon{
    border: 2px solid #a46;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 280px;
}