@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* this is for the main splash page that will persist */
header{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    
 
    
 }
 
 .help{
     list-style-type: none;
     display: flex;
     align-items: flex-end;
     font-family: 'Rubik Wet Paint', cursive;
     justify-content: end;
     color: gold;
     font-size: 60pt;
 }
 .title{
     font-family: 'Rubik Wet Paint', cursive;
     color: #8b0000;
     font-size: 80pt;
 }
 body{
     background-color: black;
     
 }


ul{
    display: flex;
    flex-direction: column;
    margin-top: 500px;
}

 img{
     animation: fadeIn 5s;
     width: 100%;
 }
 
 @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity:1;}
 }
 #second{
     color: gold;
     display: flex;
     align-items: end;
     justify-content: end;
     padding-right: 30%;
     
 
 }
 
 .btn{
     background-color: transparent;
     color: #8b0000;
     height: 200px;
     width: 300px;
     font-family:'Rubik Wet Paint', cursive;
     font-size: 30pt;
     display: flex;
     align-items: center;
     justify-items: center;
     justify-content: space-around;
     align-content: center;
     position: relative;
 }
 
 
 @media screen and (max-width: 1425px){
     /* body{
         background-color: black; 
       
         
     }   */
     .title{
         font-family: 'Rubik Wet Paint', cursive;
         color: #8b0000;
         font-size: 40pt;
     }
     .help{
         list-style-type: none;
         display: flex;
         align-items: flex-end;
         font-family: 'Rubik Wet Paint', cursive;
         justify-content: end;
         color: gold;
         font-size: 30pt;
     }
 }
 



 /* General CSS Properties */
.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 650px;
    height: 470px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid rgb(134, 122, 122);
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box.activeQuiz{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}



.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 10px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-weight: 600;
}

.quiz_box header .timer{
    position: absolute;
    right: 5%;
    color: #004085;
    margin-top: 20px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 30px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 15px;
    user-select: none;
    color:black
}

.quiz_box header .timer .timer_sec{
    font-size: 15px;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section .que_text {
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list {
    padding: 20px 0px;
    display: block;
}

.quiz_box section .option_list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box section .option_list .option:last-child {
    margin-bottom: 0px;
}

.quiz_box section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.quiz_box section .option_list .option.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.quiz_box section .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.quiz_box section .option_list .option.disabled {
    pointer-events: none;
}

.quiz_box section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.quiz_box .option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.quiz_box .option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.quiz_box footer {
    position: relative;
    display: flex;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}


.quiz_box footer button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.quiz_box footer button:hover {
    background: #0263ca;
}

.quiz_box footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}


.mobile_box {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    border: 2px solid rgb(134, 122, 122);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(./phone9111.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 800px;
    height: 800px;
    width: 500px;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.mobile_box.activeMobile {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}



/* Media Queries */
@media (max-width: 870px) {
    .info_box {
        width: 650px;
        height: 310px;
    }

    .info_box h1 {
        margin: auto;
        text-align: center;
        padding: 20px;
        font-size: 21px;
    }

    .info_box p {
        font-size: 15px;
        text-align: center;
    }


    .info-title {
        font-size: 12px;
    }

    .buttons button.restart, button.start, button.submit, button.quit, button.reset {
        margin: 0 3px;
        height: 30px;
        width: 130px;
        font-size: 12px;
        font-weight: 400;
    }

    .quiz_box {
        width: 650px;
        height: 380px;
    }

    .quiz_box header{
        height: 60px;
        padding: 0 8px;

    }


    .quiz_box header .timer{
        height: 35px;
        padding: 0 6px;
        width: 95px;
    }

    .quiz_box header .timer .time_left_txt{
        font-weight: 350;
        font-size: 12px;
    }

    .quiz_box header .timer .timer_sec{
        font-size: 12px;
    }

    .quiz_box header .time_line{
        height: 0px;
        background: white;
    }

    section{
        padding: 20px 0px 17px 0px;
    }

    section .que_text{
        font-size: 15px;
        font-weight: 500;
    }

    section .option_list{
        padding: 15px 0px 10px 10px;
        width: 280px;
        margin-left: 170px;
   
    }

    section .option_list .option{
        padding: 6px 11px;
        font-size: 14px;
        margin-bottom: 12px;
    }

    footer {
        height: 40px;
        padding: 0 20px;
        padding-top: 15px;
    }

    footer .total_que span{
        font-size: 12px;

    }

    footer .total_que span p:first-child{
        font-size: 12px;
    }


    footer .total_que span p{
        font-weight: 400;
        font-size: 12px;
    }


    footer .qtn_answer_correct{
        height: 20px;
        font-size: 12px;

    }

    footer .qtn_answer_wrong{
        height: 20px;
        font-size: 12px;

    }

    .result_box,
    .score_box {
        padding: 10px 10px;
        width: 380px;
        font-size: 16px;
    }

    .result_box {
        height: 280px;
    }



    .result_box .complete_text{
        font-size: 16px;

    }

    .result_box .score_text span{
        margin: 5px 0;
        font-size: 16px;
    }

    .result_box .score_text span p{
        padding: 0 4px;
        font-weight: 600;
        font-size: 16px;

    }

    .result_box .text {
        border: 1px;
        font-size: 14px;
        color: black;
        border-style: solid;
        height: 18px;
        padding-left: 7px;
        width: 80px;
        border-color: blue;
    }

}