body{
    background-color: black;
    color: white;
}

.game-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 60%;
    border-bottom: solid 1px whitesmoke;
}

.tile-container {
    width: 330px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

/* /----/ */
.solutionmean-container{
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
}
/* /----/ */

.message-container {
    height: 30px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border:none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border:none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}